{% load static %}
{% load get_fullpath %}

<head>
  {# Google tag (gtag.js) #}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-84T1VXBG8S"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-84T1VXBG8S');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="robots" content="{{ meta_robots }}">
  <link rel="canonical" href="{{ url }}">
  <meta name="format-detection" content="telephone=no">
  <title>{{ meta_title }}</title>
  <meta name="description" content="{{ meta_description }}">
  {# Theme Color #}
  <meta name="theme-color" content="#42B1D1">
  {# Label #}
  <meta name="apple-mobile-web-app-title" content="長﨑医院">
  <meta name="application-name" content="長﨑医院">
  {# Icon #}
  <link rel="icon" href="{% static 'ico/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'ico/favicon.svg' %}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{% static 'ico/apple-touch-icon.png' %}" sizes="180x180">
  {# OGP #}
  <meta property="og:site_name" content="長﨑医院ネット予約">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ meta_title }}">
  <meta property="og:description" content="{{ meta_description }}">
  <meta property="og:image" content="{% get_fullpath 'img/ogp.png' %}">
  <meta property="og:image:alt" content="長﨑医院 ロゴ">
  <meta property="og:locale" content="ja_JP">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="{{ meta_description }}">
  <meta name="twitter:image" content="{% get_fullpath 'img/ogp.png' %}">
  <meta name="twitter:image:alt" content="長﨑医院 ロゴ">
  {# Font #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap">
  {# CSS #}
  <link rel="stylesheet" href="{% static_version 'css/destyle.min.css' %}">
  <link rel="stylesheet" href="{% static_version 'css/style.min.css' %}">
  {# JS #}
  <script src="{% static_version 'js/jquery-3.7.1.min.js' %}" defer></script>
  <script src="{% static_version 'js/main.min.js' %}" defer></script>
  {% if recaptcha %}
    <script src="https://www.google.com/recaptcha/api.js" defer></script>
  {% endif %}
  {# JSON-LD #}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://yoyaku.nagasaki-naika.com",
    "name": "長﨑医院ネット予約",
    "alternateName": "長﨑医院"
  }
  </script>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "MedicalClinic",
    "name": "長﨑医院",
    "url": "https://yoyaku.nagasaki-naika.com",
    "logo": "https://yoyaku.nagasaki-naika.com/static/ico/apple-touch-icon.png",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "住吉町2-12-5",
      "addressLocality": "前橋市",
      "addressRegion": "群馬県",
      "postalCode": "371-0021",
      "addressCountry": "JP"
    }
  }
  </script>
</head>
