//////////////////////////////////
// フォーム部品
//////////////////////////////////

@use 'sass:map';
@use '../foundation/fonts' as font;
@use '../foundation/colors' as color;
@use '../foundation/mixins' as mix;

.c-label {
  display: inline-block;
  margin: 0 0 0.5rem;
  font-weight: bold;
  @include mix.mq('sp-tb') {
    margin: 0 0 calc(5 / 375) * 100vw;
  }
}

.c-input {
  width: 100%;
  height: 5.6rem;
  padding: 1rem 1em;
  font-size: map.get(map.get(font.$font-sizes, 'pc'), 'base');
  line-height: map.get(font.$line-heights, 'base');
  letter-spacing: map.get(font.$letter-spacings, 'base');
  background-color: #FFF;
  border: 0.1rem solid map.get(color.$theme-colors, 'border');
  border-radius: 0.4rem;
  @include mix.mq('sp-tb') {
    height: calc(56 / 375) * 100vw;
    padding: calc(10 / 375) * 100vw 1em;
    font-size: map.get(map.get(font.$font-sizes, 'sp'), 'base');
    border: calc(1 / 375) * 100vw solid map.get(color.$theme-colors, 'border');
    border-radius: calc(4 / 375) * 100vw;
  }

  // iOSでボックス内のテキストを左寄せ
  &::-webkit-date-and-time-value {
    text-align: left;
  }

  &:focus {
    outline: 0.2rem solid map.get(color.$theme-colors, 'accent');
    border: none;
    @include mix.mq('sp-tb') {
      outline: calc(2 / 375) * 100vw solid map.get(color.$theme-colors, 'accent');
    }
  }

}

.c-radio {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin: 0 0.2rem 0 0;
  cursor: pointer;
  background-color: #FFF;
  border: 0.1rem solid map.get(color.$theme-colors, 'border');
  border-radius: 50%;
  @include mix.mq('sp-tb') {
    width: calc(30 / 375) * 100vw;
    height: calc(30 / 375) * 100vw;
    margin: 0 calc(2 / 375) * 100vw 0 0;
    border: calc(1 / 375) * 100vw solid map.get(color.$theme-colors, 'border');
  }

  &:checked {
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.8rem;
      height: 1.8rem;
      content: "";
      background-color: map.get(color.$theme-colors, 'accent');
      border-radius: 50%;
      transform: translate(-50%, -50%);
      @include mix.mq('sp-tb') {
        width: calc(18 / 375) * 100vw;
        height: calc(18 / 375) * 100vw;
      }
    }
  }
}

.c-checkbox {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem 0 0;
  cursor: pointer;
  background-color: #FFF;
  border: 0.1rem solid map.get(color.$theme-colors, 'border');
  border-radius: 0.4rem;
  @include mix.mq('sp-tb') {
    width: calc(30 / 375) * 100vw;
    height: calc(30 / 375) * 100vw;
    margin: 0 calc(5 / 375) * 100vw 0 0;
    border: calc(1 / 375) * 100vw solid map.get(color.$theme-colors, 'border');
    border-radius: calc(4 / 375) * 100vw;
  }

  &:checked {
    &::before {
      position: absolute;
      top: 0.1rem;
      left: 50%;
      width: 1.2rem;
      height: 2rem;
      content: "";
      border-right: 0.3rem solid map.get(color.$theme-colors, 'accent');
      border-bottom: 0.3rem solid map.get(color.$theme-colors, 'accent');
      transform: translateX(-50%) rotate(45deg);
      @include mix.mq('sp-tb') {
        top: calc(1 / 375) * 100vw;
        width: calc(12 / 375) * 100vw;
        height: calc(20 / 375) * 100vw;
        border-right: calc(3 / 375) * 100vw solid map.get(color.$theme-colors, 'accent');
        border-bottom: calc(3 / 375) * 100vw solid map.get(color.$theme-colors, 'accent');
      }
    }
  }
}

.c-textarea {
  width: 100%;
  height: 5.6rem * 3;
  padding: 1rem 1em;
  font-size: map.get(map.get(font.$font-sizes, 'pc'), 'base');
  line-height: map.get(font.$line-heights, 'base');
  letter-spacing: map.get(font.$letter-spacings, 'base');
  resize: vertical;
  background-color: #FFF;
  border: 0.1rem solid map.get(color.$theme-colors, 'border');
  border-radius: 0.4rem;
  @include mix.mq('sp-tb') {
    height: calc(56 * 3 / 375) * 100vw;
    padding: calc(10 / 375) * 100vw 1em;
    font-size: map.get(map.get(font.$font-sizes, 'sp'), 'base');
    border: calc(1 / 375) * 100vw solid map.get(color.$theme-colors, 'border');
    border-radius: calc(4 / 375) * 100vw;
  }

  &:focus {
    outline: 0.2rem solid map.get(color.$theme-colors, 'accent');
    border: none;
    @include mix.mq('sp-tb') {
      outline: calc(2 / 375) * 100vw solid map.get(color.$theme-colors, 'accent');
    }
  }

}

.c-select-box {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    right: 1.8rem;
    width: 1.5rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: map.get(color.$theme-colors, 'main');
    clip-path: polygon(0 0, 100% 0%, 50% 100%);
    transform: translateY(-50%);
    @include mix.mq('sp-tb') {
      right: calc(16 / 375) * 100vw;
      width: calc(12 / 375) * 100vw;
      height: calc(8 / 375) * 100vw;
    }
  }

  &--week {
    width: 15rem;
    @include mix.mq('sp-tb') {
      width: 50%;
    }
  }
}

.c-select {
  width: 100%;
  height: 5.6rem;
  padding: 1rem 5.1rem 1rem 1em;
  font-size: map.get(map.get(font.$font-sizes, 'pc'), 'base');
  line-height: map.get(font.$line-heights, 'base');
  letter-spacing: map.get(font.$letter-spacings, 'base');
  background-color: #FFF;
  border: 0.1rem solid map.get(color.$theme-colors, 'border');
  border-radius: 0.4rem;
  @include mix.mq('sp-tb') {
    height: calc(56 / 375) * 100vw;
    padding: calc(10 / 375) * 100vw calc(44 / 375) * 100vw calc(10 / 375) * 100vw 1em;
    font-size: map.get(map.get(font.$font-sizes, 'sp'), 'base');
    border: calc(1 / 375) * 100vw solid map.get(color.$theme-colors, 'border');
    border-radius: calc(4 / 375) * 100vw;
  }

  &:focus {
    outline: none;
    border: 0.2rem solid map.get(color.$theme-colors, 'accent');
    @include mix.mq('sp-tb') {
      border: calc(2 / 375) * 100vw solid map.get(color.$theme-colors, 'accent');
    }
  }
}

.c-required, .c-optional {
  display: inline-block;
  padding: 0 0.8rem;
  margin: 0 1rem 0.3rem 0;
  font-size: map.get(map.get(font.$font-sizes, 'pc'), 'sm');
  font-weight: bold;
  vertical-align: middle;
  border-radius: 1rem;
  @include mix.mq('sp-tb') {
    padding: calc(2 / 375) * 100vw calc(10 / 375) * 100vw;
    margin: 0 calc(10 / 375) * 100vw calc(3 / 375) * 100vw 0;
    font-size: map.get(map.get(font.$font-sizes, 'sp'), 'xs');
    border-radius: calc(10 / 375) * 100vw;
  }
}

.c-required {
  color: #FFF;
  background-color: map.get(color.$theme-colors, 'accent');
}

.c-optional {
  background-color: map.get(color.$theme-colors, 'gray');
}

.is-error {
  background-color: map.get(color.$theme-colors, 'alert-bg');
  border: 0.2rem solid map.get(color.$theme-colors, 'alert');
  border-radius: 0.4rem;
  @include mix.mq('sp-tb') {
    border: calc(2 / 375) * 100vw solid map.get(color.$theme-colors, 'alert');
    border-radius: calc(4 / 375) * 100vw;
  }

  .c-select {
    background-color: map.get(color.$theme-colors, 'alert-bg');
  }
}
