@charset "UTF-8";
html[data-theme=light],
:root {
  --primary: #62A045;
  --secondary: #62A045;
  --accent: #42B1D1;
  --primary-fg: #FFF;
  --body-fg: #333;
  --body-bg: #FFF;
  --body-quiet-color: #808080;
  --body-medium-color: #808080;
  --body-loud-color: #333;
  --header-color: #FFF;
  --header-branding-color: #FFF;
  --header-bg: var(--secondary);
  --header-link-color: var(--primary-fg);
  --breadcrumbs-fg: #333;
  --breadcrumbs-link-fg: #428BCA;
  --breadcrumbs-bg: #FFF;
  --link-fg: #428BCA;
  --link-hover-color: rgb(125.7458677686, 175.6694214876, 218.7541322314);
  --link-selected-fg: var(--secondary);
  --hairline-color: #e8e8e8;
  --border-color: #CCC;
  --error-fg: #DC3545;
  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;
  --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
  --selected-bg: #e4e4e4; /* E.g. selected table cells */
  --selected-row: #F8FCEE;
  --button-fg: #fff;
  --button-bg: var(--secondary);
  --button-hover-bg: rgb(138.0152838428, 193.3820960699, 112.1179039301);
  --default-button-bg: #62A045;
  --default-button-hover-bg: rgb(138.0152838428, 193.3820960699, 112.1179039301);
  --close-button-bg: #62A045;
  --close-button-hover-bg: rgb(138.0152838428, 193.3820960699, 112.1179039301);
  --delete-button-bg: #DC3545;
  --delete-button-hover-bg: rgb(231.2974683544, 118.2025316456, 129.0379746835);
  --object-tools-fg: var(--button-fg);
  --object-tools-bg: var(--close-button-bg);
  --object-tools-hover-bg: var(--close-button-hover-bg);
  color-scheme: light;
}

html[data-theme=dark] {
  --breadcrumbs-fg: #FFF;
  --breadcrumbs-bg: transparent;
  color-scheme: dark;
}

html {
  font-size: 120%;
  font-weight: 500;
}

body {
  font-family: "Yu Gothic", "游ゴシック体", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", system-ui, -apple-system, "Segoe UI", arial, sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  line-height: 1.5;
  letter-spacing: 0.05em;
  line-break: strict;
  overflow-wrap: anywhere;
}

#site-name a:link, #site-name a:visited {
  color: #FFF;
}

.module caption,
fieldset .fieldset-heading, fieldset .inline-heading, :not(.inline-related) .collapse summary,
.button, input[type=submit], input[type=button], .submit-row input, a.button,
.submit-row a.deletelink,
.object-tools a:link, .object-tools a:visited,
#header a:link, #header a:visited, #logout-form button {
  font-weight: bold !important;
}

.calendar caption, .calendarbox h2 {
  background: #F8FCEE !important;
}

@media (hover: hover) {
  #header a:link {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  #header a:link:hover {
    opacity: 0.65;
  }
}

#user-tools a, #logout-form button {
  border: none;
}

.flex-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aligned label {
  width: auto !important;
}

#changelist-filter li.selected {
  border-left: 5px solid #62A045 !important;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number],
input[type=tel],
textarea,
select,
.vTextField,
#toolbar #searchbar,
#changelist .actions select {
  padding: 10px 15px;
  font-family: "Yu Gothic", "游ゴシック体", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", system-ui, -apple-system, "Segoe UI", arial, sans-serif;
  line-height: 1.5;
  border: 1px solid #CCC;
  border-radius: 4px;
}
@media screen and (max-width: 1023px) {
  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=number],
  input[type=tel],
  textarea,
  select,
  .vTextField,
  #toolbar #searchbar,
  #changelist .actions select {
    padding: 2.6666666667vw 4vw;
    border: 0.2666666667vw solid #CCC;
    border-radius: 1.0666666667vw;
  }
}
input:not([type])::-webkit-date-and-time-value,
input[type=text]::-webkit-date-and-time-value,
input[type=password]::-webkit-date-and-time-value,
input[type=email]::-webkit-date-and-time-value,
input[type=url]::-webkit-date-and-time-value,
input[type=number]::-webkit-date-and-time-value,
input[type=tel]::-webkit-date-and-time-value,
textarea::-webkit-date-and-time-value,
select::-webkit-date-and-time-value,
.vTextField::-webkit-date-and-time-value,
#toolbar #searchbar::-webkit-date-and-time-value,
#changelist .actions select::-webkit-date-and-time-value {
  text-align: left;
}
input:not([type]):focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=number]:focus,
input[type=tel]:focus,
textarea:focus,
select:focus,
.vTextField:focus,
#toolbar #searchbar:focus,
#changelist .actions select:focus {
  outline: 2px solid #42B1D1;
  border: none;
}
@media screen and (max-width: 1023px) {
  input:not([type]):focus,
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=number]:focus,
  input[type=tel]:focus,
  textarea:focus,
  select:focus,
  .vTextField:focus,
  #toolbar #searchbar:focus,
  #changelist .actions select:focus {
    outline: 0.5333333333vw solid #42B1D1;
  }
}

select {
  height: 100%;
}

#changelist .actions .button {
  color: #FFF !important;
  background: #62A045 !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.field-is_active img {
  width: 20px;
  height: 20px;
}

.field-appointment_dt_display,
.field-visit,
.field-email,
.field-name_display,
.field-phone,
.field-birthdate_with_age,
.field-gender,
.field-card_number,
.field-created_at_display,
.field-symptom_display,
.field-weekday,
.field-closed_hours,
.field-summer_closing_display,
.field-new_year_closing_display,
.field-date_display {
  white-space: nowrap;
}

@media (hover: hover) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}
@media (hover: none) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}
.only-sp {
  display: none;
}

.only-pc {
  display: block;
}

@media screen and (max-width: 1023px) {
  .only-sp {
    display: block;
  }
  .only-pc {
    display: none;
  }
}/*# sourceMappingURL=admin.css.map */