{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
  <main class="l-contents">
    <div class="l-step">
      <ol class="l-step__inner">
        <li class="c-step done">入力</li>
        <li class="c-step done">認証</li>
        <li class="c-step current">再設定</li>
        <li class="c-step">完了</li>
      </ol>
    </div>
    <section class="l-contents__inner">
      <h1 class="l-contents__page-title c-title">パスワードの再設定</h1>
      {# トークン有効 #}
      {% if validlink %}
        <p class="l-contents__lead c-text">新しいパスワードを入力してください。</p>
        <form class="l-form" action="" method="post">
        {% csrf_token %}
          {# 新しいパスワード #}
          <div class="l-form__group">
            <label class="c-text c-label" for="new-password">新しいパスワード<span class="c-text--help c-text--help--row">8～20文字の半角英数字</span></label>
            {% render_field form.new_password1 class="c-text c-input" id="new-password" placeholder="新しいパスワードを入力してください" %}
            {# エラーメッセージ #}
            {% if form.new_password1.errors %}
              <div class="js-form-error">
                {% for error in form.new_password1.errors %}
                  <p class="c-text c-text--sm c-text--alert">{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {# 新しいパスワードの確認 #}
          <div class="l-form__group">
            <label class="c-text c-label" for="new-password-confirm">新しいパスワードの確認</label>
            {% render_field form.new_password2 class="c-text c-input" id="new-password-confirm" placeholder="確認のためもう一度入力してください" %}
            {# エラーメッセージ #}
            {% if form.new_password2.errors %}
              <div class="js-form-error">
                {% for error in form.new_password2.errors %}
                  <p class="c-text c-text--sm c-text--alert">{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="l-contents__button">
            <button class="c-button c-button--primary js-submit-button" type="submit">パスワードを変更する</button>
          </div>
        </form>
      {# トークン無効 #}
      {% else %}
        <p class="l-contents__lead c-text">このURLは無効または期限切れです。<br>もう一度はじめからお手続きをお願いします。</p>
        <div class="l-contents__button">
          <a class="c-button c-button--primary" href="{% url 'password_reset' %}">パスワードを忘れた場合に戻る</a>
        </div>
      {% endif %}
    </section>
  </main>
{% endblock %}
