{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<main class="l-contents">
  <div class="l-step">
    <ol class="l-step__inner">
      <li class="c-step current">入力</li>
      <li class="c-step">認証</li>
      <li class="c-step">再設定</li>
      <li class="c-step">完了</li>
    </ol>
  </div>
  <section class="l-contents__inner">
    <h1 class="l-contents__page-title c-title">パスワードをお忘れの場合</h1>
    <p class="l-contents__lead c-text">登録メールアドレスを入力してください。<br>パスワード再設定ページのご案内が<br class="only-sp">送信されます。</p>
    <form class="l-form" action="" method="post">
      {% csrf_token %}
      {# メールアドレス #}
      <div class="l-form__group">
        <label class="c-text c-label" for="email">メールアドレス</label>
        {% render_field form.email class="c-text c-input" id="email" placeholder="taro@example.jp" %}
        {# エラーメッセージ #}
        {% if form.email.errors %}
        <div class="js-form-error">
          {% for error in form.email.errors %}
          <p class="c-text c-text--sm c-text--alert">{{ error|linebreaksbr }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="l-contents__button">
        <a class="c-button c-button--secondary" href="{% url 'account_login' %}">戻る</a>
        <button class="c-button c-button--primary" type="submit">送信する</button>
      </div>
    </form>
  </section>
</main>
{% endblock %}
