{% extends "base.html" %}

{% block content %}
  <main class="l-contents">
    <div class="l-step">
      <ol class="l-step__inner">
        <li class="c-step done">入力</li>
        <li class="c-step done current">完了</li>
      </ol>
    </div>
    <section class="l-contents__inner">
      <h1 class="l-contents__page-title c-title">変更完了</h1>
      <p class="l-contents__lead c-text">パスワードの変更が完了しました。<br>新しいパスワードでログインしてください。</p>
      <div class="l-contents__button">
        <a class="c-button c-button--primary" href="{% url 'mypage' %}">マイページに戻る</a>
      </div>
    </section>
  </main>
{% endblock %}