{% extends "base.html" %}

{% block content %}
  <main class="l-contents">
    <div class="l-step">
      <ol class="l-step__inner">
        <li class="c-step done">入力</li>
        <li class="c-step current">認証</li>
        <li class="c-step">再設定</li>
        <li class="c-step">完了</li>
      </ol>
    </div>
    <section class="l-contents__inner l-contents__inner--only-text">
      <h1 class="l-contents__page-title c-title">パスワードをお忘れの場合</h1>
      <p class="l-contents__lead c-text">パスワード再設定ページの<br class="only-sp">ご案内メールを送信しました。<br>メールに記載のURLから<br class="only-sp">パスワードの再設定を行ってください。</p>
    </section>
  </main>
{% endblock %}