{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<main class="l-contents">
  <div class="l-step">
    <ol class="l-step__inner">
      <li class="c-step done">入力</li>
      <li class="c-step current">確認</li>
      <li class="c-step">認証</li>
      <li class="c-step">完了</li>
    </ol>
  </div>
  <section class="l-contents__inner">
    <h1 class="l-contents__page-title c-title">ご利用登録</h1>
    <p class="l-contents__lead c-text">以下の内容で送信してよろしいですか？</p>
    <form action="{% url 'signup_verify' %}" method="post">
      {% csrf_token %}
      <dl class="l-confirm">
        <div class="l-confirm__group">
          <dt class="c-text">お名前</dt>
          <dd class="c-text">{{ signup_data.user_family_name }} {{ signup_data.user_first_name }}</dd>
        </div>
        <div class="l-confirm__group">
          <dt class="c-text">メールアドレス</dt>
          <dd class="c-text">{{ signup_data.email }}</dd>
        </div>
        <div class="l-confirm__group">
          <dt class="c-text">電話番号</dt>
          <dd class="c-text">{{ signup_data.phone }}</dd>
        </div>
        <div class="l-confirm__group">
          <dt class="c-text">生年月日</dt>
          <dd class="c-text">{{ display_birthdate }}</dd>
        </div>
        <div class="l-confirm__group">
          <dt class="c-text">性別</dt>
          <dd class="c-text">{{ display_gender }}</dd>
        </div>
        <div class="l-confirm__group">
          <dt class="c-text">診察券番号</dt>
          {% if signup_data.card_number %}
          <dd class="c-text">{{ signup_data.card_number }}</dd>
          {% else %}
          <dd class="c-text">なし</dd>
          {% endif %}
        </div>
      </dl>
      <div class="l-contents__button">
        <a class="c-button c-button--secondary" href="{% url 'signup' %}">戻る</a>
        <button class="c-button c-button--primary" type="submit">送信する</button>
      </div>
    </form>
  </section>
</main>
{% endblock %}
