{% extends "base.html" %}

{% block content %}
  <main class="l-contents">
    <section class="l-contents__inner">
      <h1 class="l-contents__page-title c-title">ご指定のリクエストを<br class="only-sp">処理できませんでした</h1>
      <p class="l-contents__lead c-text">送信されたリクエストに誤りがあるため、<br class="only-sp">ページを表示できません。<br>入力内容やURLに誤りがないかご確認のうえ、<br class="only-sp">もう一度お試しください。</p>
      <div class="l-contents__button">
        <a class="c-button c-button--primary" href="{% url 'mypage' %}">マイページに戻る</a>
      </div>
    </section>
  </main>
{% endblock %}