{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
  <main class="l-contents">
    <div class="l-step">
      <ol class="l-step__inner">
        <li class="c-step done">初診 /<br class="only-sp"> 再診</li>
        <li class="c-step done">問診票</li>
        <li class="c-step done">日時<br class="only-sp">選択</li>
        <li class="c-step current">連絡先<br class="only-sp">入力</li>
        <li class="c-step">確認</li>
        <li class="c-step">完了</li>
      </ol>
    </div>
    <section class="l-contents__inner">
      <h1 class="l-contents__page-title c-title">診察予約</h1>
      <p class="l-contents__lead c-text">以下の情報を入力してください。</p>
      <form class="l-form" action="" method="post">
      {% csrf_token %}
        <div class="l-form__group l-form__group--two">
          <div>
            <label class="c-text c-label" for="user_family_name"><span class="c-required">必須</span>お名前 （姓）</label>
            <input class="c-text c-input" type="text" id="user_family_name" name="user_family_name" value="長﨑" placeholder="長﨑" required autocomplete="family-name">
          </div>
          <div>
            <label class="c-text c-label" for="user_first_name"><span class="c-required">必須</span>お名前 （名）</label>
            <input class="c-text c-input" type="text" id="user_first_name" name="user_first_name" value="太郎" placeholder="太郎" required autocomplete="given-name">
          </div>
        </div>
        <div class="l-form__group">
          <label class="c-text c-label" for="email"><span class="c-required">必須</span>メールアドレス</label>
          <input class="c-text c-input" type="email" id="email" name="email" value="nagasaki@example.jp" placeholder="nagasaki@example.jp" required autocomplete="email">
        </div>
        <div class="l-form__group">
          <label class="c-text c-label" for="phone"><span class="c-required">必須</span>電話番号</label>
          <input class="c-text c-input" type="tel" id="phone" name="phone" inputmode="numeric" value="0272313274" placeholder="0272313274" required autocomplete="tel-national">
        </div>
        <div class="l-form__group">
          <label class="c-text c-label" for="birthdate"><span class="c-required">必須</span>生年月日</label>
          <input class="c-text c-input" type="date" id="birthdate" name="birthdate" value="1970-01-01" placeholder="YYYY-MM-DD" required autocomplete="bday">
        </div>
        <div class="l-form__group">
          <fieldset>
            <legend class="c-text c-label"><span class="c-required">必須</span>性別</legend>
            <div class="l-form__radio-checkbox-group">
              <label class="c-text" for="gender01">
                <input class="c-radio" type="radio" name="gender" id="gender01" value="female" required>
                <span>女性</span>
              </label>
              <label class="c-text" for="gender02">
                <input class="c-radio" type="radio" name="gender" id="gender02" value="male" checked>
                <span>男性</span>
              </label>
            </div>
          </fieldset>
        </div>
        <div class="l-form__group">
          <label class="c-text c-label" for="card-number"><span class="c-optional">任意</span>診察券番号</label>
          <input class="c-text c-input" type="text" id="card-number" name="card_number" value="123456789" placeholder="000000000">
        </div>
        <div class="l-form__group">
          <label class="c-text c-label"><span class="c-required">必須</span>個人情報のお取扱いについて</label>
          <span class="l-form__checkbox c-text">
            <input class="c-checkbox" type="checkbox" name="privacy" value="1" required><a class="c-text c-link" href="/privacy.php" target="_blank" rel="noopener">プライバシーポリシー</a>に同意する
          </span>
        </div>
        <div class="l-contents__button">
          <a class="c-button c-button--secondary" href="{% url 'appointment_datetime' %}">戻る</a>
          <button class="c-button c-button--primary" type="submit">確認画面へ進む</button>
        </div>
      </form>
    </section>
  </main>
{% endblock %}
