{% extends "base.html" %}

{% block content %}
<main class="l-contents">
  <div class="p-mypage">
    {# マイページメニュー #}
    <aside class="p-mypage__menu" aria-label="マイページメニュー">
      <nav>
        <ul class="p-mypage__menu-group">
          <li><a class="c-text p-mypage__menu-link p-mypage__menu-link--appointment" href="/mypage/appointment/">診察予約</a></li>
          <li><a class="c-text p-mypage__menu-link p-mypage__menu-link--checkup" href="/mypage/checkup/">健康診断予約</a></li>
          <li><a class="c-text p-mypage__menu-link p-mypage__menu-link--vaccine" href="/mypage/vaccine/">予防接種予約</a></li>
        </ul>
        <ul class="p-mypage__menu-group">
          <li><a class="c-text p-mypage__menu-link p-mypage__menu-link--password" href="/mypage/password/">パスワード変更</a></li>
          <li><a class="c-text p-mypage__menu-link p-mypage__menu-link--email" href="/mypage/email/">メールアドレス変更</a></li>
          <li><a class="c-text p-mypage__menu-link p-mypage__menu-link--phone" href="/mypage/phone/">電話番号変更</a></li>
        </ul>
        <ul class="p-mypage__menu-group">
          <li>
            <form class="js-logout" method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              <button type="submit" class="c-text p-mypage__menu-link p-mypage__menu-link--logout">ログアウト</button>
            </form>
          </li>
          <li><a class="c-text p-mypage__menu-link p-mypage__menu-link--withdraw" href="/mypage/withdraw/">退会</a></li>
        </ul>
      </nav>
    </aside>
    {# 予約一覧 #}
    <section class="p-mypage__section">
      <div class="p-mypage__title">
        <div>
          <p class="p-mypage__user-name c-title c-title--mypage">{{ user_name }} 様</p>
          <h1 class="c-title">予約一覧</h1>
        </div>
      </div>
      <div>
        {# 予約状況の切り替えタブ #}
        <div class="p-mypage__tablist" role="tablist" aria-label="予約状況の切り替え">
          <input class="p-mypage__tab-radio" id="tab-schedule" type="radio" name="tab" checked>
          <label class="p-mypage__tab-label c-title" for="tab-schedule" role="tab" aria-controls="panel-schedule" aria-selected="true">ご来院予定</label>
          <input class="p-mypage__tab-radio" id="tab-done" type="radio" name="tab">
          <label class="p-mypage__tab-label c-title" for="tab-done" role="tab" aria-controls="panel-done" aria-selected="false">ご来院済み</label>
        </div>
        <div>
          {# ご来院予定 #}
          <div id="panel-schedule" role="tabpanel" aria-labelledby="tab-schedule">
            <!-- <p class="p-mypage__empty c-text">現在、ご来院予定の予約はありません</p> -->
            <ul>
              <li class="p-mypage__card">
                <dl class="p-mypage__list">
                  <div class="p-mypage__list-group">
                    <dt class="c-text">来院日時</dt>
                    <dd class="c-text">2026年1月5日（月） 17：00〜</dd>
                  </div>
                  <div class="p-mypage__list-group">
                    <dt class="c-text">予約メニュー</dt>
                    <dd class="c-text">インフルエンザ予防接種</dd>
                  </div>
                  <div class="p-mypage__list-group">
                    <dt class="c-text">予約受付日時</dt>
                    <dd class="c-text">2025/12/25 17：00</dd>
                  </div>
                </dl>
                <div class="p-mypage__button l-contents__button">
                  <a class="c-button c-button--primary" href="/mypage/appointment/1/">予約の変更</a>
                  <a class="c-button c-button--secondary" href="/mypage/appointment/1/questionnaire/">問診票を見る</a>
                  <a class="c-button c-button--alert js-appointment-delete" appointment-id="1"appointment-dt="1月5日(月) 17：00〜" href="/mypage/appointment/delete/">予約の取消</a>
                </div>
              </li>
              <li class="p-mypage__card">
                <dl class="p-mypage__list">
                  <div class="p-mypage__list-group">
                    <dt class="c-text">来院日時</dt>
                    <dd class="c-text">2026年1月5日（月） 17：00〜</dd>
                  </div>
                  <div class="p-mypage__list-group">
                    <dt class="c-text">予約メニュー</dt>
                    <dd class="c-text">インフルエンザ予防接種</dd>
                  </div>
                  <div class="p-mypage__list-group">
                    <dt class="c-text">予約受付日時</dt>
                    <dd class="c-text">2025/12/25 17：00</dd>
                  </div>
                </dl>
                <div class="p-mypage__button l-contents__button">
                  <a class="c-button c-button--primary" href="/mypage/appointment/1/">予約の変更</a>
                  <a class="c-button c-button--secondary" href="/mypage/appointment/1/questionnaire/">問診票を見る</a>
                  <a class="c-button c-button--alert js-appointment-delete" appointment-id="1"appointment-dt="1月5日(月) 17：00〜" href="/mypage/appointment/delete/">予約の取消</a>
                </div>
              </li>
            </ul>
          </div>
          {# ご来院済み #}
          <div id="panel-done" role="tabpanel" aria-labelledby="tab-done">
            <!-- <p class="p-mypage__empty c-text">ご来院済みの予約履歴はありません</p> -->
            <ul>
              <li class="p-mypage__card p-mypage__card--done">
                <dl class="p-mypage__list">
                  <div class="p-mypage__list-group">
                    <dt class="c-text">来院日時</dt>
                    <dd class="c-text">2026年1月5日（月） 17：00〜</dd>
                  </div>
                  <div class="p-mypage__list-group">
                    <dt class="c-text">予約メニュー</dt>
                    <dd class="c-text">インフルエンザ予防接種</dd>
                  </div>
                  <div class="p-mypage__list-group">
                    <dt class="c-text">予約受付日時</dt>
                    <dd class="c-text">2025/12/25 17：00</dd>
                  </div>
                </dl>
              </li>
              <li class="p-mypage__card p-mypage__card--done">
                <dl class="p-mypage__list">
                  <div class="p-mypage__list-group">
                    <dt class="c-text">来院日時</dt>
                    <dd class="c-text">2026年1月5日（月） 17：00〜</dd>
                  </div>
                  <div class="p-mypage__list-group">
                    <dt class="c-text">予約メニュー</dt>
                    <dd class="c-text">インフルエンザ予防接種</dd>
                  </div>
                  <div class="p-mypage__list-group">
                    <dt class="c-text">予約受付日時</dt>
                    <dd class="c-text">2025/12/25 17：00</dd>
                  </div>
                </dl>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}
